/Server/weatherAPI/past/access_data.txt
/Server/weatherAPI/past/example_request.csv
/Server/weatherAPI/past/exampleRequest.csv
/Server/weatherAPI/forecast/api_key.txt
/Server/weatherAPI/weather_test.py
/Server/weatherAPI/.idea/
/Server/weatherAPI/__pycache__/