**/.idea/
**/__pycache__/
Server/weather/past/access_data.txt
Server/weather/past/example_request.csv
Server/weather/past/exampleRequest.csv
Server/weather/forecast/api_key.txt
Server/weather/weather_test.py
Server/weather/__pycache__/
Server/test.txt